<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Add New Blog</title>
    <%- include ('./partials/head') %>
  </head>
  <body>
    <%- include ('./partials/nav') %>
    <%- include ('./partials/scripts') %>
    <div class="mb-3">
          <label for="title" class="form-label"
            >Title</label
          >
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
          />
        </div>
  </body>
</html>
